body {
    font-family: Montserrat;
    background-color: #132E35;
    border-color: orange;
    border-width: 5px;
}
h1 {
    color: #AFB3B7;
    background-color: #132E35;
    font-size: 300%;
    border: 5px solid orange;
}
h2 {
    color: #AFB3B7;
    background-color: #132E35;
    border: 5px solid orange;
}
h3 {
    color: #AFB3B7;
    background-color: #132E35;
    border: 5px solid orange;
}
p {
    color: #AFB3B7;
    margin: auto auto auto auto;
    max-width: 100%;
    text-align: left;
    border: 5px solid orange;
    padding: 5px;
}
ul {
    color: #AFB3B7;
    margin: auto auto auto auto;
    padding-left: 100px;
}
a:link {
    color: #AFB3B7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #AFB3B7;
}
#header {
    background-color:  #132E35;
    margin: auto;
    text-align: center;
    border: 2px solid #132E35;
}
#crossbar {
    background-color: #132E35;
    margin: auto auto;
    text-align: center;
    border: 2px solid #132E35;
    border-width: 2px;
}
#crossbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
#crossbar li {
    display: inline;
    margin: auto 10px;    
}
#image {
    float: left;
    border: 5px solid orange;
    max-width: 45%;
    height: auto;
    float: center;
    margin: auto; 
}
@media screen and (max-width: 768px) {
    #page_entry {
        float: none;
        display: block;
        margin: 0 auto 20px auto;
        max-width: 80%;
    }

    p {
        max-width: 95%;
        text-align: left;
    }

    #crossbar ul {
        flex-direction: column;
        text-align: center;
    }

    #crossbar_list {
        display: block;
        margin: 10px auto;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }
}